<launch>
    <include file="$(find camera)/launch/run_cam.launch"/>
    <include file="$(find camera)/launch/ar_track.launch"/>

    <node name="vision" pkg="vision" type="vision.py" respawn="false" output="screen">
        <param name="/model_file" type="string" value="$(find vision)/src/models/classifier-processed2-randorient-resnet-400.pkl" />
        <param name="/use_resnet" type="bool" value="true"/>
    </node>
</launch>
